body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000033;
  color: white;
}

button {
  background-color: #e67300;
  text-shadow: 1px 1px black;
  color: white;
  padding: 5px;
}

.mainGameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px
}

.saveDataContainer {
  display: flex;
  gap: 250px;
  padding: 0px 100px 0px 100px;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.saveDataContainer div {
  width: 15%;
  align-self: center;
}
