body {
  background-color: #000033;
  color: white;
}

button {
  background-color: #e67300;
  text-shadow: 1px 1px black;
  color: white;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh
}
