body {
  background-color: #000033;
  color: white;
}

button {
  background-color: grey
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh
}
